@model List<OtusSocial.Service.Model.Dto.People.DtoPerson>

@{
    ViewBag.Title = "Люди";
    Layout = "_Layout";
}

<h2>Люди</h2>
    <div class="rows">
        <div class="col-md-5">Фамилия, имя</div>
        <div class="col-md-5">Возраст</div>
        <div class="col-md-2">#</div>
    </div>
@foreach (var person in Model)
{
    <div class="rows">
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
}