@{
    ViewBag.Title = "Мои друзья";
    Layout = "_Layout";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Друзья</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="income-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Входящие</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="outcome-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Исходящие</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="friends-tab">
        Тут типа все друзья ¯\_(ツ)_/¯
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="income-tab">
        Тут типа входящие заявки ¯\_(ツ)_/¯
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="outcome-tab">
        Тут типа исходящте заявки ¯\_(ツ)_/¯
    </div>
</div>